.home {
  padding: 2rem 0;
}

.hero {
    display: flex;
    margin: 0 auto;
}

.welcome {
    max-width: 60%;
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--text-color);
    padding: 1rem 7rem 0 0;
}

.welcome h1 {
    font-size: 3rem;
}

.profile-image {
    width: 100%;
  border-radius: 24px;
  overflow: hidden;
  max-width: 400px;
  justify-self: end;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(167, 139, 250, 0.6);
}

.featured-project {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.featured-image {
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  max-width: 600px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  height: 400px;
  object-fit: cover;
}

.project-card {
  border-radius: 15px;
  background-color: var(--card-background);
  box-shadow: 0 4px 12px var(--shadow-color);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  overflow: hidden;
}
.project-card:hover {
  transform: translateY(-4px);
}

.project-details {
  border-radius: 15px;
  background-color: var(--card-background);
  box-shadow: 0 4px 12px var(--shadow-color);
  padding: 3rem;
}

.project-details p {
  opacity: 0.8;
}

.project-details h3 {
  font-size: 2rem;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.tag {
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 0.3rem .6rem;
  border-radius: 35px;
  font-size: 0.875rem;
}

.most-recent-projects {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}